<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>User Account</h2>
      <div class="panel panel-primary">
        <div class="panel-heading"><h4>User Profile</h4></div>
        <div class="panel-body">
        <span><img style="height:10%;width:10%;opacity: 0.3;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1524031283&di=200774d7411aad43e2ab55274b048848&src=http://cdns2.freepik.com/free-photo/male-user-profile-data_318-39633.jpg"></span>
        <ul class="list-group">
          <li class="list-group-item">  Email:  {{ user.email }}
          <li class="list-group-item">  Surname:  {{ user.surname }}
          <li class="list-group-item">  Lastname:  {{ user.lastname }}
          <li class="list-group-item">  Nickname:  {{ user.nickname }}
          </ul>
        </div>
    </div>
  </div>
</div>
