<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Contact Us</h1>
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Super Computer Store</h4></div>
          <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> Address: 8/F, One Exchange Square, Central, Hong Kong
          <li class="list-group-item">  Phone:  (852) 2888 1111
          <li class="list-group-item">  E-mail: cs@supercomputer.com
          <li class="list-group-item">  Fax:  (852) 2888 2222
          </ul>
        </div>
    </div>
  </div>
</div>
